.container {
  margin-top: 1.25em;
  //flex-direction: column;

  .titleContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25em;
    font-size: 0.8em;
    font-weight: 500;

    .title {
      min-width: 200px;
    }

    a {
      width: 100%;
      text-align: right;
    }
  }

  .profileContainer {
  }
}
